@model Web_News.Areas.Admin.ViewModels.NewsViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Chi Tiết Tin Tức";
}


<div class="results" id="results"></div>
<div class="container">
    <div class="main-content">
        <h2 class="tieudiemtuan">TIÊU ĐIỂM TUẦN</h2>
        <div class="grid-container">
            <div class="news-detail">
                <div class="news-header">
                    <div class="news-categories">
                        @foreach (var category in Model.Categories)
                        {
                            <span class="news-category">@category.NameCategory</span>
                        }
                    </div>
                    <div class="news-date">@Model.PublishDate.ToString("dddd, d/M/yyyy, HH:mm (GMT+7)")</div>
                </div>
                <div class="news-content">
                    <h1>@Model.Title</h1>

                    <p>@Html.Raw(Model.Content)</p>

                </div>
            </div>

        </div>

        <h2>CÓ THỂ BẠN QUAN TÂM</h2>
        <div class="recommendations">
            @foreach (var related in Model.RelatedNews)
            {
                <div class="recommendation-item">
                    <img src="/Images/@related.Image" alt="Ảnh bài viết @related.Title">
                    <div class="recommendation-content">
                        <h3><a href="/Home/Privacy/@related.NewsId">@related.Title</a></h3>
                        <p class="date-time">Ngày đăng: <span>@related.PublishDate.ToString("dddd, d/M/yyyy, HH:mm (GMT+7)")</span></p>
                    </div>
                </div>
            }
        </div>
        <h2>CÁC BÀI VIẾT KHÁC</h2>
        <div class="tech-news">
            <div class="news-list">
                <div class="news-row">
                    @foreach (var news in Model.Allnews)
            {
                <div class="recommendation-item">
                    <img src="/Images/@news.Image" alt="Ảnh bài viết @news.Title">
                    <div class="recommendation-content">
                        <h3><a href="/Home/Privacy/@news.NewsId">@news.Title</a></h3>
                        <p class="date-time">Ngày đăng: <span>@news.PublishDate.ToString("dddd, d/M/yyyy, HH:mm (GMT+7)")</span></p>
                    </div>
                </div>
            }
                </div>
            </div>
        </div>
      


        
    </div>

    <aside class="sidebar">
        <div class="sidebar-section">
            <h2>Bài viết liên quan</h2>
            <!-- Mục sidebar 1 -->
            <div class="recommendations">
                @foreach (var news in Model.Get6RelatedNews)
                {
                    <a href="/Home/Privacy/@news.NewsId" class="sidebar-section">
                        <img src="/Images/@news.Image" alt="Ảnh bài viết @news.Title">
                        <h2>@news.Title</h2>
                    </a>
                }
            </div>
            <div class="vertical-banner">
                <a href="https://thepizzacompany.vn/" target="_blank">
                    <img src="https://i.pinimg.com/564x/5c/c2/25/5cc2257f4cdc1e65174a0f06ebbf79fc.jpg" alt="Quảng Cáo Dọc">
                </a>
            </div>
            <div class="vertical-banner">
                <a href="https://thepizzacompany.vn/" target="_blank">
                    <img src="https://i.pinimg.com/564x/fd/10/dd/fd10ddd283008e79581d5cb932557f0e.jpg" alt="Quảng Cáo Dọc Thứ Hai">
                </a>
            </div>
            <div class="vertical-banner">
                <a href="https://thepizzacompany.vn/" target="_blank">
                    <img src="https://i.pinimg.com/564x/b4/f1/65/b4f1657706054c68d982ba75c7de31a6.jpg" alt="Quảng Cáo Dọc Thứ Hai">
                </a>
            </div>
            <div class="vertical-banner">
                <a href="https://thepizzacompany.vn/" target="_blank">
                    <img src="https://i.pinimg.com/564x/0b/38/75/0b387522397983d52752346a427e64bd.jpg" alt="Quảng Cáo Dọc Thứ Hai">
                </a>
            </div>
            <div class="vertical-banner">
                <a href="https://thepizzacompany.vn/" target="_blank">
                    <img src="https://i.pinimg.com/736x/8a/b0/9b/8ab09b86d26a0a15c902ad6b69baf90d.jpg" alt="Quảng Cáo Dọc Thứ Hai">
                </a>
            </div><div class="vertical-banner">
                <a href="https://thepizzacompany.vn/" target="_blank">
                    <img src="https://i.pinimg.com/564x/03/7d/6f/037d6fb9fe70f77f3b71aba4e15b4553.jpg" alt="Quảng Cáo Dọc Thứ Hai">
                </a>
            </div>

            <!-- Mục sidebar 10 -->
            <a href="link-to-article10.html" class="sidebar-section">
                <img src="https://baogiaothong.mediacdn.vn/zoom/354_221/603483875699699712/2024/7/31/picture1-17224109714081626114804-0-0-823-1317-crop-17224109885551606756775.png" alt="Hình ảnh 10">
                <h2>Lĩnh 18 năm tù vì đâm chết bạn nhậu</h2>
            </a>
            <!-- Thêm các mục mới -->
            <!-- Mục sidebar 11 -->
            <a href="link-to-article11.html" class="sidebar-section">
                <img src="https://baogiaothong.mediacdn.vn/zoom/354_221/603483875699699712/2024/7/31/z5684771077012-8f91530d6c920c57414df69f4b560573-17224062207761984009830-159-0-919-1216-crop-17224062264721326213500.jpg" alt="Hình ảnh 11">
                <h2>
                    Bắt một công chứng viên trong vụ lừa hơn 3 tỷ đồng ở Lai Châu
                </h2>
            </a>
            <!-- Mục sidebar 12 -->
            <a href="link-to-article12.html" class="sidebar-section">
                <img src="https://baogiaothong.mediacdn.vn/zoom/354_221/603483875699699712/2024/7/31/1-1722403213714905521976-0-0-400-640-crop-1722403217898147930198.jpg" alt="Hình ảnh 12">
                <h2>Lời khai của nghi phạm chém tử vong con dâu ở Sóc Trăng</h2>
            </a>
            <!-- Mục sidebar 13 -->
            <a href="link-to-article13.html" class="sidebar-section">
                <img src="https://baogiaothong.mediacdn.vn/zoom/354_221/603483875699699712/2024/7/31/edit-z5684968486008d5b8f367f4ceb0ea11dfb171278eae64-1722402309937835649920-24-0-720-1114-crop-17224023568002133206434.jpeg" alt="Hình ảnh 13">
                <h2>Nam thanh niên vờ đi nhờ xe rồi ra tay sát hại nam công nhân, cướp tài sản</h2>
            </a>
            <!-- Mục sidebar 14 -->
            <a href="link-to-article14.html" class="sidebar-section">
                <img src="https://baogiaothong.mediacdn.vn/zoom/354_221/603483875699699712/2024/7/31/z5682571379697c802253da746f92d4a1bd832e9178976-17223322811451751204160-0-32-376-634-crop-1722396533694223824066.jpg" alt="Hình ảnh 14">
                <h2>Bắt khẩn cấp người đàn ông châm lửa đốt cây xăng ở Nha Trang</h2>
            </a>
            <!-- Mục sidebar 15 -->
            <a href="link-to-article15.html" class="sidebar-section">
                <img src="https://baogiaothong.mediacdn.vn/zoom/354_221/603483875699699712/2024/7/31/a3-1722410330351217999098-84-0-1334-2000-crop-17224103386691924933721.jpg" alt="Hình ảnh 15">
                <h2>
                    Cựu giám đốc CDC tỉnh Đắk Lắk phủ nhận việc nhận tiền hối lộ
                </h2>
            </a>
        </div>
        <div class="vertical-banner">
            <a href="https://thepizzacompany.vn/" target="_blank">
                <img src="https://i.pinimg.com/564x/fd/10/dd/fd10ddd283008e79581d5cb932557f0e.jpg" alt="Quảng Cáo Dọc Thứ Hai">
            </a>
        </div>
        <div class="vertical-banner">
            <a href="https://thepizzacompany.vn/" target="_blank">
                <img src="https://i.pinimg.com/564x/88/9b/df/889bdf2ca4a37a67a353ea767b9e4d6d.jpg" alt="Quảng Cáo Dọc Thứ Hai">
            </a>
        </div>
        <div class="vertical-banner">
            <a href="https://thepizzacompany.vn/" target="_blank">
                <img src="https://i.pinimg.com/564x/23/85/94/2385946d183fa73b07f3ef9777e782d5.jpg" alt="Quảng Cáo Dọc Thứ Hai">
            </a>
        </div>
        <div class="vertical-banner">
            <a href="https://thepizzacompany.vn/" target="_blank">
                <img src="https://i.pinimg.com/564x/70/5a/8b/705a8b6ec9f10b8be533f60bef701586.jpg" alt="Quảng Cáo Dọc Thứ Hai">
            </a>
        </div><div class="vertical-banner">
            <a href="https://thepizzacompany.vn/" target="_blank">
                <img src="https://i.pinimg.com/564x/bd/91/0e/bd910eb02bfdbe93dcdc71c0d6ba862f.jpg" alt="Quảng Cáo Dọc Thứ Hai">
            </a>
        </div><div class="vertical-banner">
            <a href="https://thepizzacompany.vn/" target="_blank">
                <img src="https://i.pinimg.com/564x/dc/37/2d/dc372d016062057c76b8112aff70aad7.jpg" alt="Quảng Cáo Dọc Thứ Hai">
            </a>
        </div><div class="vertical-banner">
            <a href="https://thepizzacompany.vn/" target="_blank">
                <img src="https://i.pinimg.com/736x/75/bb/36/75bb36f4f0a70e2a1faac5fc524f5629.jpg" alt="Quảng Cáo Dọc Thứ Hai">
            </a>
        </div><div class="vertical-banner">
            <a href="https://thepizzacompany.vn/" target="_blank">
                <img src="https://i.pinimg.com/564x/86/6d/24/866d24d7592145b6a1c10c04a03a4e2c.jpg" alt="Quảng Cáo Dọc Thứ Hai">
            </a>
    </aside>
</div>
