@model Web_News.Areas.Admin.ViewModels.NewsViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>News</h4>
    <dl class="row">
        <dt class="col-sm-2">
            Title
        </dt>
        <dd class="col-sm-10">
            @Model.Title
        </dd>

        <dt class="col-sm-2">
            Image
        </dt>
        <dd class="col-sm-10">
            <img src="@Model.Image" alt="News Image" style="max-width: 300px; height: auto;" />
        </dd>
        <dt class="col-sm-2">
            Publish Date
        </dt>
        <dd class="col-sm-10">
            @Model.PublishDate.ToString("dd/MM/yyyy")
        </dd>
        <dt class="col-sm-2">
            Created By
        </dt>
        <dd class="col-sm-10">
            @Model.CreatedByUserName
        </dd>
        <dt class="col-sm-2">
            Status
        </dt>
        <dd class="col-sm-10">
            @Model.Status
        </dd>
        <dt class="col-sm-2">
            Categories
        </dt>
        <dd class="col-sm-10">
            @foreach (var category in Model.Categories)
            {
                <span class="badge bg-secondary">@category.NameCategory</span>
            }
        </dd>
    </dl>

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="NewsId" />
        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </form>
</div>
