@model Web_News.Areas.Admin.ViewModels.NewsViewModel

@{
    ViewData["Title"] = "Xóa bài viết";
}

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <div class="card-header bg-gradient-dark text-white">
                <h4 class="mb-0">Thông tin bài viết</h4>
            </div>
            <hr />
            <div style="text-align: center;">
                <h1> <strong> @Model.Title</strong></h1>
            </div>
            <h4><strong>Người tạo:</strong> @Model.CreatedByUserName</h4>
            <h4><strong>Ngày đăng:</strong> @Model.PublishDate.ToString("dd/MM/yyyy")</h4>
            <h4>
                <strong>Thể loại:</strong>  @foreach (var category in Model.Categories)
                {
                    <span class="badge bg-secondary">@category.NameCategory</span>
                }
            </h4>
          


            <h4><strong>- Nội dung:</strong> @Html.Raw(Model.Content)</h4>

     
        </div>
    </div>
</div>


<div>
  

    <form asp-action="Delete" method="post">
        <input type="hidden" asp-for="NewsId" />
        <button type="submit" class="btn btn-danger ">Delete</button>
        <a asp-action="Index" class="btn btn-outline-dark">Quay lại</a>
    </form>
</div>
